{% extends 'base.html' %}
{% block title %}
  <title>HOME - Quotes Hub</title>
{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <div class="row row-cols-2 row-cols-md-4 g-3">
          <div class="col">
            <div class="card border-success mb-2">
              <div class="card-header bg-transparent border-success">~ Albert Einstein</div>
              <div class="card-body text-success">
                <h5 class="card-title">Success</h5>
                <p class="card-text">"Strive not to be a success, but rather to be of value."</p>
              </div>
              <div class="card-footer bg-transparent border-success d-flex justify-content-between">
                <span class=" text-end"><i class="bi bi-eye"></i>1.2k</span>
                <span class=" text-end"><i class="bi bi-share"></i>1.2k</span>
                <span class=" text-end"><i class="bi bi-download"></i>1.2k</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-danger mb-2">
              <div class="card-header bg-transparent border-danger"> ~ Steve Jobs</div>
              <div class="card-body text-danger">
                <h5 class="card-title">Alert</h5>
                <p class="card-text">"Your time is limited, don't waste it living someone else's life."</p>
              </div>
              <div class="card-footer bg-transparent border-danger d-flex justify-content-between">
                <span class=" text-end"><i class="bi bi-eye"></i>1.2k</span>
                <span class=" text-end"><i class="bi bi-share"></i>1.2k</span>
                <span class=" text-end"><i class="bi bi-download"></i>1.2k</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-primary mb-2">
              <div class="card-header bg-transparent border-primary"> ~ Winston S. Churchill</div>
              <div class="card-body text-primary">
                <h5 class="card-title">Motivation</h5>
                <p class="card-text">"Success is not final, failure is not fatal: It is the courage to continue that counts."</p>
              </div>
              <div class="card-footer bg-transparent border-primary d-flex justify-content-between">
                <span class=" text-end"><i class="bi bi-eye"></i>1.2k</span>
                <span class=" text-end"><i class="bi bi-share"></i>1.2k</span>
                <span class=" text-end"><i class="bi bi-download"></i>1.2k</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-warning mb-2">
              <div class="card-header bg-transparent border-warning"> ~ Steve Jobs</div>
              <div class="card-body text-warning">
                <h5 class="card-title">Motivation</h5>
                <p class="card-text">"The only way to do great work is to love what you do."</p>
              </div>
              <div class="card-footer bg-transparent border-warning d-flex justify-content-between">
                <span class=" text-end"><i class="bi bi-eye"></i>1.2k</span>
                <span class=" text-end"><i class="bi bi-share"></i>1.2k</span>
                <span class=" text-end"><i class="bi bi-download"></i>1.2k</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-info mb-2">
              <div class="card-header bg-transparent border-info"> ~ Franklin D. Roosevelt</div>
              <div class="card-body text-info">
                <h5 class="card-title">Limitation</h5>
                <p class="card-text">"The only limit to our realization of tomorrow will be our doubts of today."</p>
              </div>
              <div class="card-footer bg-transparent border-info d-flex justify-content-between">
                <span class=" text-end"><i class="bi bi-eye"></i>1.2k</span>
                <span class=" text-end"><i class="bi bi-share"></i>1.2k</span>
                <span class=" text-end"><i class="bi bi-download"></i>1.2k</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}